/*initialisation de la police*/
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
/*initialisation des marges du corp*/
body{
    margin: 0em;
    padding: 0em;
    height: 100%;
}
/*création de la classe*/
.contenu{
    display: flex; /*faire en sorte que le contenu puisse etre deplacé*/
    flex-direction: inline;/*deplacer le contenu en ligne*/
    width: 100%;/*etablissement de la largeur totale de notre classe*/

}
header{
    max-height: 100%;/*mettre la hauteur maximale du header a 100% de la taille de la page*/
    float: left;/*deplacer vers la gauche*/
    width: 20%;/*etablir la largeur à occuper a 20%*/
  
    background: rgb(70, 70, 150);/*couleur de fond*/
}
/*modification des propriéteés de l'image*/
img{
    padding-top: 5px;/*marge interne du haut*/
    margin-left: 35px;/*marge externe de gauche*/
    border-radius: 5rem;/*dessimation des bordures de l'image*/
}
/*propriétés de la classe*/
.clr{
    color: rgb(204, 188, 188);/*couleur de texte*/
}
.couleur{
    color: white;/*couleur de texte*/
}
.ul .li{
    color: rgb(204, 188, 188);/*couleur de texte*/
}
section{
    
    height: 100%;/*attribuer une hauteur de 100%*/
    float: right;/*positionner le bloc a droite*/
    width: 80%;/*attribuer une largeur de 80%*/
}
header,h1,img,b,.ul,.li,.clr{
    background: rgb(70, 70, 150);/*couleur de fond*/
    
}

section {
    
  margin-left: 30px;/*marge interne de gauche*/
    
}
h2{
    text-transform: uppercase;/*transformer le texte en majuscule*/
    font-size: 30px;/*attribuer une taille de police*/
}
/*propriétés a la classe*/
.contenu{
    width: 100%;/*attribuer une largeur de 100%*/
    display: flex;/*rendre le contenu flexible*/
    flex-direction: row;/*orienter le bloc sur l'axe des absices*/
}
/*propriétés a la classe*/
.gauche{
    float: left;/*positionner a gauche*/
    width: 30%;/*occupe une largeur de 30% du bloc principal*/
}
/*propriétés a la classe*/
.droite{
    float: right;/*positionner a droite*/
    width: 70%;/*occupe une largeur de 70% du bloc principal*/
    padding-top: 15px;/*delimiter la marge interne superieure*/
}
/*propriétés a la classe*/
.xxx{
    color: rgb(70, 70, 150);/*couleur du texte*/
}